# Ignore dataset folders
data/DeepFashion2/
data/FashionData/

# Ignore system files
.DS_Store
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Ignore logs and temporary files
results/

# Environment files
.env
.venv/
env/
venv/
*.env

# Logs
*.log